<div class="jumbotron">
  <img src="/img/food_and_wine.png" class="jumbotron-image">
</div>

<% if current_diner %>
    <div class="col-sm-6 col-sm-offset-3 center-title text-center">
        <h3>Find Restaurants With Availability</h3>
        <span class="center-line"></span>
    </div>

    <div class="col-xs-5">
    </div>
    <div class="col-xs-2" id="available-form">
      <%= form_tag "/restaurants/available", method: :get do %>
        <div class="form-group">
            <%= label_tag :reservation, "Date"%>
            <%= date_field :reservation, :date, :value => Time.now.strftime('%Y-%m-%d'), :class => "form-control" %>  
        </div>
        <div class="form-group">
            <%= label_tag :head_count, "How Many?"%>
            <%= select_tag(:head_count, options_for_select( @head_count_options.map { |value| [ value, value ] }), :class => "form-control") %>
        </div>
        <div class="form-group">
          <%= label_tag :timeslot, "Time" %>
          <%= collection_select :timeslot, :timeslot_id, @timeslots, :id, :time, {:selected => 27}, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= submit_tag "Show Restaurants", :class => "btn btn-info" %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-5">
    </div>
<% end %>
