<div class="jumbotron">
  <h1>JUMBOTRON: PUT LOGO/IMAGE HERE!!</h1>
</div>

<% if current_diner %>
    <div class="col-sm-6 col-sm-offset-3 center-title text-center">
        <h3>Find Restaurants With Availability</h3>
        <span class="center-line"></span>
    </div>

    <div class="col-xs-4">
    </div>
    <div class="col-xs-4" id="available-form">
      <%= form_tag "/restaurants/available", method: :get do %>
        <div class="form-group">
            <%= label_tag :reservation, "Date"%>
            <%= date_field :reservation, :date, :class => "form-control" %>  
        </div>
        <div class="form-group">
            <%= label_tag :head_count, "How Many?"%>
            <%= select_tag(:head_count, options_for_select( @head_count_options.map { |value| [ value, value ] }), :class => "form-control") %>
        </div>
        <div class="form-group">
          <%= label_tag :timeslot, "Time"%>
          <%= collection_select :timeslot, :timeslot_id, @timeslots, :id, :time, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= submit_tag "Show All Restaurants With Requested Availability" , :class => "btn btn-default" %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
    </div>
<% end %>
