<h1>Restaurant?</h1>
 <ul>
   <li><%= link_to 'Sign Up', '/restaurant_admins/sign_up', method: :get %></li>
   <li><%= link_to 'Sign In', '/restaurant_admins/sign_in', method: :get %></li>
   <li><%= link_to 'Sign Out', '/restaurant_admins/sign_out', method: :delete %></li>
 </ul>
 
 <h1>Diner?</h1>
 <ul>
   <li><%= link_to 'Sign Up', '/diners/sign_up', method: :get %></li>
   <li><%= link_to 'Sign In', '/diners/sign_in', method: :get %></li>
   <li><%= link_to 'Sign Out', '/diners/sign_out', method: :delete %></li>
 </ul> 