<% @reservations.each do |reservation| %>
  <% if current_diner %>
  <p>Restaurant: <%= reservation.restaurant.name %></p>
  <% else %>
  <p>Name: <%= reservation.diner_name %>
  <p>Phone: <%= reservation.diner_phone %>
  <% end %>
  <p>Number of Diners: <%= reservation.head_count %></p>
  <p>Date: <%= reservation.date %></p>
  <p>Time: <%= reservation.timeslot.time %></p>
  <%= button_to "Cancel Reservation", "/reservations/#{reservation.id}", method: :delete, :class => "btn btn-info" %>
  <br />
  <br />
<% end %>
