<div id="reservation-form">
  <%= form_tag "/reservations", method: :post do %>
    <div>
      <%= hidden_field_tag :restaurant_id, params[:restaurant_id]  %>
        </div>
    <div>
        <%= label_tag :reservation, "Date"%>
        <%= date_field :reservation, :date, :value => params[:date]%>  
    </div>
    <div>
      <%= label_tag :timeslot, "Time"%>
      <%= collection_select :timeslot, :timeslot_id, @timeslots, :id, :time %>
    </div>
    <div>
        <%= label_tag :head_count, "How Many?"%>
        <%= select_tag(:head_count, options_for_select( @head_count_options.map { |value| [ value, value ] }), :value => params[:head_count]) %>
    </div>
    <div>
        <%= submit_tag "Make Reservation" %>
    </div>
  <% end %>
</div>

<div>
</div>