<%= link_to "Add A New Restaurant", "/restaurants/new", method: :get %>

<% @restaurants.each do |restaurant| %>
  <h1><%= link_to "#{restaurant.name}", "/restaurants/#{restaurant.id}", method: :get %></h1>
  <h4><%= restaurant.bio %></h4>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.email %></p>
  <p><%= restaurant.phone %></p>
<% end %>

