
<% if current_restaurant_admin && current_restaurant_admin.id = @restaurant.restaurant_admin_id %>
    <%= button_to "Edit This Restaurant", "/restaurants/#{params[:id]}/edit", method: :get %>
    <%= button_to "Delete This Restaurant", "/restaurants/#{params[:id]}", method: :delete %>
<% end %>

<section id="home">
    <div class="home-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h1><%= @restaurant.name %></h1>
                    <h5><%= @restaurant.address %>, <%= @restaurant.city %>, <%= @restaurant.state %>, <%= @restaurant.zip %></h5>
                    <h5><%= @restaurant.phone %></h5>
                    <img src="https://maps.googleapis.com/maps/api/staticmap?markers=color:red%7C<%= @restaurant.latitude %>,<%= @restaurant.longitude %>&size=600x300&maptype=roadmap&key=<% ENV['GOOGLE_MAP_KEY'] %>">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                <h3>About Restaurant</h3>
                <span class="center-line"></span>
                <p><%= @restaurant.bio %></p>
            </div>
        </div>
    </div>  
</section>

<% if current_diner %>
    <section class="find-restaurant">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                    <h3>Make a Reservation</h3>
                    <span class="center-line"></span>
                </div>
            </div>
            <div id="reservation-form">
               <%= form_tag "/reservations/new", method: :get do %>
                    <div>
                        <%= hidden_field_tag :restaurant_id, @restaurant.id %>
                    </div>
                    <div>
                        <%= label_tag :reservation, "Date"%>
                        <%= date_field :reservation, :date %>  
                    </div>
                    <div>
                        <%= label_tag :head_count, "How Many?"%>
                        <%= select_tag(:head_count, options_for_select( @head_count_options.map { |value| [ value, value ] })) %>
                    </div>
                    <div>
                        <%= submit_tag "See Available Times" %>
                    </div>
                <% end %>
            </div>
        </div>
    </section>
<% end %>



 