  <h1><%= @restaurant.name %></h1>
  <h4><%= @restaurant.bio %></h4>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.email %></p>
  <p><%= @restaurant.phone %></p>
  <%= form_tag "/reservations", method: :post do %>
    <div>
      <%= hidden_field_tag :restaurant_id, @restaurant.id %>
    </div>
    <div>
      <%= date_field :reservation, :date %>  
    </div>
    <div>
      <%= label_tag :timeslot, "Choose Time"%>
      <%= collection_select :timeslot, :timeslot_id, @timeslots, :id, :time %>
    </div>
    <div>
      <%= submit_tag "Reserve a Seat" %>
    </div>
  <% end %>