<!DOCTYPE html>
<html>
<head>
  <title>RestaurantApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class=container>
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
          <%= message.html_safe %>  
        </div>
      <% end %>
    </div>

<h3>Restaurant Admins</h3>
<ul>
  <li><%= link_to 'Sign Up', '/restaurant_admins/sign_up', method: :get %></li>
  <li><%= link_to 'Sign In', '/restaurant_admins/sign_in', method: :get %></li>
  <li><%= link_to 'Sign Out', '/restaurant_admins/sign_out', method: :delete %></li>
</ul>

<h3>Diners</h3>
<ul>
  <li><%= link_to 'Sign Up', '/diners/sign_up', method: :get %></li>
  <li><%= link_to 'Sign In', '/diners/sign_in', method: :get %></li>
  <li><%= link_to 'Sign Out', '/diners/sign_out', method: :delete %></li>
</ul>

<%= yield %>

</body>
</html>
